* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.container {
  width: 90%;
  margin: 10px auto 20px auto;
  padding: 10px;
  /* border: 2px solid red; */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #D0D5DD;
  border-radius: 25px;
  padding: 10px 20px;
  margin-bottom: 50px;
}

.nav-ul {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-ul li {
  list-style-type: none;
}

.nav-ul li a, .ai-btn {
  display: block;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #667085;
  text-align: center;
  text-decoration: none;
}

.nav-ul li a img {
  display: inline-block;
  width: 18px;
  height: 18px;
  padding-top: 5px;
}

.nav-btns {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.unite {
  /* width: 55%; */
}

.unite-header {
  font-weight: 600;
  font-size: 64px;
  line-height: 72px;
  color: #1D2939;
  margin-bottom: 10px;
}

.unite-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #667085;
  margin-bottom: 20px;
}

.ratings {
  height: 20px;
}

.ratings img {
  display: inline-block;
}

.unite-avatars {
  height: 40px;
}

.unite-btns, .unite-avatars {
  width: 60%;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 20px;
}

.stars p {
  height: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #475467;
}

.unite-main-img {
  border: 1px solid #B2DDFF;
  background-color: #EFF8FF;
  border-radius: 10px;
  box-shadow: 0px 10px 10px 0px #B2DDFF;
  padding: 32px;
}

.cartoons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.cartoon-container {
  width: 160px;
  height: 160px;
  border-radius: 8px;
}

.cartoon-container img {
  display: block;
  width: 100%;
  height: 100%
}

.bottom-icons {
  width: 70%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-container {
  width: 30%;
  background-color: #fff;
  border: 1px solid #D1E9FF;
  text-align: center;
}

.icon-container img {
  display: block;
  width: 100%;
  height: 100%;
}

button {
  display: inline-block;
  padding: 10px;
  border: none;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  margin-right: 3px;
}

.flexed-img {
  display: block;
  width: 100%;
  height: 100%;
}

.ai-btn {
  color: #175CD3;
  padding: 10px;
}

.ai-btn img {
  display: inline-block;
  width: 24px;
  height: 24px;
  padding-top: 8px;
  margin: 0px 5px;
}

.companies {
  width: 90%;
  margin: 20px auto;
  padding: 10px;
  /* border: 2px solid red; */
}

.companies-header {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #475467;
  margin-bottom: 40px;
}

.company-links ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company-links li {
  list-style-type: none;
}

.advantage-header {
  width: 85%;
}

.advantage-header, .images-icon-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header-content h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #175CD3;
  margin-bottom: 2px;
}

.header-content h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  color: #1D2939;
}

.header-content p {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #667085;
}

.curled-arrow img, .groupie-smiles img, .icon-container img {
  display: block;
  width: 100%;
  height: 100%;
}

.icon-content-main {
  margin-bottom: 15px;
  /* border: 2px solid #aa76ff; */
}

.icon-container {
  height: 24px;
  width: 24px;
  margin-bottom: 15px;
}

.icon-content-main h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #101828;
  margin-bottom: 5px;
}

.icon-content-main p {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #475467;
}

.icon-container {
  width: 24px;
  height: 24px;
}

.icon-content {
  width: 30%;
  padding: 20px;
}

.groupie-smiles {
  width: 35%;
}

.shopify {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.clearlink {
  width: 45%;
}

.shopify-logo {
  display: block;
  width: 112.79px;
  height: 32px;
}

.shopify-logo, .ratings {
  margin-bottom: 20px;
}

.clearlink .text {
  font-weight: 500;
  font-size: 44px;
  line-height: 60px;
  color: #101828;
  margin-bottom: 10px;
}

.pmp-arrows-img {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border: 2px solid yellow; */
}

.pmp-img {
  display: block;
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.arrows {
  width: 40%;
  /* border: 2px solid #229ae0; */
}

.pmp-arrows, .arrows {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  width: 40%;
  height: 56px;
  /* border: 2px solid green; */
  padding: 10px;
  text-align: center;
}

.left-arrow, .right-arrow {
  width: 100%;
  height: 100%;
  display: block;
}

.groupies {
  width: 50%;
  padding: 20px;
  /* border: 2px solid #fa890e; */
}

.shopified-img {
  display: block;
}

.images-1 {
  /* border: 1px solid #ff0ae4; */
  width: 58%;
  margin: 5px auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.images-2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.faq {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.faqs {
 width: 37%;
}

.faqs h3 {
  font-weight: 600;
  font-size: 18px;
  text-align: left;
  color: #175CD3;
  line-height: 28px;
}

.faqs h2 {
  font-weight: 600;
  font-size: 48px;
  text-align: left;
  color: #1D2939;
  line-height: 60px;
  margin-bottom: 20px;
}

.faqs p {
  font-weight: 400;
  font-size: 24px;
  text-align: left;
  color: #667085;
  line-height: 32px;
}

.faqs p a {
  color: #667085;
}

.accordion, .faqs {
  padding: 15px;
}

.accordion-container {
  width: 58%;
  margin: 20px auto 0px auto;
}

.question-flexed {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.question-flexed h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #101828;
}

.circle {
  padding: 5px;
  width: 24px;
  height: 26px;
}

.circle-img {
  display: block;
  width: 100%;
  height: 100%;
}

.minus-circle {
  display: block;
}

.answer {
  display: none;
}

.show-answer {
  display: block;
  padding: 10px 0px;
}

.show-answer p {
  font-weight: 400;
  font-size: 18px;
  text-align: left;
  color: #475467;
  line-height: 28px;
}

.communication {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.perfect {
  width: 40%;
  /* border: 2px soild blue; */
  padding: 10px;
}

.perfect h3 {
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  color: #101828;
  text-align: left;
}

.checkers {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 10px 0px;
}

.checkers img {
  width: 28px;
  height: 28px;
  display: block;
}

.checkers p {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #475467;
  text-align: left;
}

.screen {
  width: 45%;
  /* border: 2px solid red; */
}

.screen img {
  display: block;
  width: 100%;
  height: 100%;
}

.contacts, .contact-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.gateway {
  width: 30%
}

.contact-links {
  width: 40%;
}

.get-apps {
  width: 12%;
  /* border: 2px solid green; */
}

.gateway p {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #475467;
  text-align: left;
  margin-top: 10px;
}

.contact-links h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #667085;
  text-align: left;
  margin-bottom: 10px;
}

.contacts li {
  list-style-type: none;
  margin-bottom: 10px;
}

.contacts li a {
  display: block;
  text-decoration: none;
  text-align: left;
  color: #475467;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}

.get-apps h4 {
  color: #004EEB;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  margin-bottom: 10px;
}

.footer, .footer-links ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright p {
  color: #667085;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
}

.footer-links {
  width: 30%;
}

.footer-links ul li {
  list-style-type: none;
  width: 24px;
  height: 24px;
}

.footer-links ul li a, .footer-links ul li img {
  display: block;
  width: 100%;
  height: 100%;
}

